* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #000000;
}

.container {
    background-color: #121728;
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.contents > div {
  text-align: center;
}
.title {
    text-align: center;
}

input[type="number"] {
    width: 50%;
    padding: 10px;
    margin-top: 40px;
    transition: 0.5s;
    border: 2px solid #000000;
}

input[type="number"]:focus {
    outline: none;
    border: 2px solid #5CA6E5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="submit"] {
    padding: 10px 10px;
    background-color: #5CA6E5;
    border-radius: 5px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    outline-color: transparent;
    cursor: pointer;
    border: none;
}

.playBtn {
    width: 100px;
}

.playAgainBtn {
    margin-top: 15px;
    width: 130px;
}

.attempt, .result {
    margin-top: 15px;
}

.attempt {
    text-align: right;
}

@media screen and (max-width: 324px) {
    .contents > .inputs {
        display: flex;
    }
    .playBtn {
        margin-top: 39px;
        height: 50px;
    }
}